p {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 0, 0);
    
}
h3{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(68, 0, 255);
}
#Fakultas_Bisnis{
    color: blue; 
}
h3{
    font-family: 'Times New Roman', Times, serif;
    color: aqua;
}
td{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(183, 0, 255);
}

h3{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 47, 151);
}
h2{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 0, 0);
}
body{
    background-image: url(wallapaper\ mobil\ nisan\ gtr.jpg);
    background-size: cover;
}